<configuration>

    <contextName>Usuario</contextName>

    <appender name="STDOUT" class="ch.qos. logback.core.ConsoleAppender">
        <encoder class="ch.qos. logback. core.encoder .LayoutWrappingEncoder">
            <layout class="ch.qos. logback. contrib. json.classic.Jsonlayout" >
                <timestampFormat>yyyY-MM-dd 'T'HH:mm: ss.SSSX</timestampFormat>
                <jsonFormatter class="ch.qos. Logback.contrib. jackson.JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            </layout>
        </encoder>
    </appender>

    <Logger name="ControllerUsuario" level="debug" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>